<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"  href="../static/css/bootstrap.min.css" />
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>

  <http auto-config="true" use-expressions="true">
    <logout logout-url="/logout" />
  </http>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand">Reservation system</a>
  <!-- Jumbotron and navigation redone from https://getbootstrap.com/docs/4.0/examples/jumbotron/ -->
  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <logout><a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></logout>
      </li>
    </ul>
  </div>
</nav>

<main>
  <div class="container py-5">
    <div class="row">
      <table class="table-bordered col-6">
        <tr>
          <th>Company name</th>
          <th>Restaurant name</th>
          <th>Restaurant email</th>
          <th>Is approved</th>
        </tr>
        <tr th:each="restaurant : ${restaurants}">
          <td th:text="${restaurant.companyName}"/>
          <td th:text="${restaurant.restaurantName}"/>
          <td th:text="${restaurant.email}"/>

          <!--Make read only checkbox -->
          <td><input type="checkbox" th:checked="${restaurant.isAuthorized}"  onclick="return false;"/></td>
          <td>
            <form th:action="@{/authorize}" th:object="${toAuthorize}" method="post">
              <input type="hidden" name="email" th:value="${restaurant.email}">
              <button type="submit">Authorize/Unauthorize</button>
            </form>
          </td>
        </tr>
      </table>


</main>

</body>
</html>