<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"  href="../static/css/bootstrap.min.css" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!--navigation redone from https://getbootstrap.com/docs/4.0/examples/jumbotron/ -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Reservation system</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
        </ul>
    </div>
</nav>
<main>
    <script type="text/javascript" th:src="@{/registerscript.js}"></script>
    <h1 class="text-center">Register</h1>
    <section class = "registration">
        <div class="d-flex justify-content-center align-items-center container ">

    <form th:action="@{register}" method="post" th:object="${newUser}">
                <legend>User Information</legend>
                <table id = "registrationForm">
                    <td><label>Account type:</label></td>
                    <td>
                        <select id="role" name="role" onchange="addFields()">
                            <!-- empty option from https://stackoverflow.com/questions/3518002/how-can-i-set-the-default-value-for-an-html-select-element -->
                            <option selected disabled hidden>Choose user type</option>
                            <option th:value="Customer">Customer</option>
                            <option th:value="Restaurant">Restaurant</option>
                        </select>
                    </td>
                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="email" th:field="*{email}" required="required"/></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input type="password" minlength="6" th:field="*{password}" required="required"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Register" class="btn btn-primary btn-customized"/></td>
                    </tr>
                </table>

        <p class="alert-danger" th:text="${error}" th:if="${error}"></p>
    </form>

        </div>
    </section>
</main>

</body>
<footer class="bg-light text-center fixed-bottom">
    <p>© Restaurant reservation system. Jonas Navikas 2021</p>
</footer>
</html>