<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Search restaurants</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"  href="../static/css/bootstrap.min.css" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</head>

<http auto-config="true" use-expressions="true">
    <logout logout-url="/logout" />
</http>

<!--navigation redone from https://getbootstrap.com/docs/4.0/examples/jumbotron/ -->
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reservation system</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" th:href="@{/register}">Register</a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" th:href="@{/login}">Login</a>
      </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{customerProfile}">Profile</a>
        </li>
        <li class="nav-item">
            <logout><a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></logout>
        </li>
    </ul>
  </div>
</nav>
<main>

    <div class="form-group">

        <form th:action="@{/search}" method="get">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchTerm">
            <button class="btn btn-outline-success my-2  m-0" type="submit">Search</button>
        </form>

    </div>

    <div class="d-flex justify-content-center mx-auto container ">
    <div class="row">
            <div class="card mb-4" style="width: 18rem;" th:each="restaurant : ${restaurants}">
                <div class="card-body">
                <h5 class="card-title card-link" th:text = "${restaurant.restaurantName}"></h5>
                <h9 class="card-subtitle" th:text = "${restaurant.address}"></h9>
                    <!-- Expression taken from https://stackoverflow.com/questions/52494233/how-to-transfer-parameters-in-thhref-in-spring-boot-thymeleaf -->
                    <a th:href="@{/restaurantInfo/{restaurantName}(restaurantName = ${restaurant.restaurantName})}" class="stretched-link"></a>

                </div>
        </div>
    </div>
    </div>

</main>
</body>
</html>